ul.dropdown-menu.show{
    width: 300px;
    text-align: center;
    margin-left: -150px;
}

.remove{
    cursor: pointer;
    height: 35px;
    align-self: center;
}

strong{
    align-self: center;
    font-size: 14px;
}

.flex{
    display: flex;
    border-bottom: 1px solid rgb(195, 194, 194);
    padding: 5px 5px;
}

.card-align{
    align-self: center;
}

.my-cart{
    padding: 10px;
}